<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head">

</head>
<body>
<div class="wrapper">
    <!-- Navigation -->
    <header th:replace="fragments/navigation">

</header>

    <section class="road">
        <th:block th:each="r:${allRoutes}">
        <img th:src="${r.imagUrl}" alt="Title image">
        <div>


            <h2 th:text="${r.name}">Your Route</h2>
            <p th:text="${r.description}"></p>
            <a href="/" class="btn">Learn More</a>

        </div>
</th:block>
    </section>
</div>
<!-- Wrapper Ends -->
</body>
<footer th:replace="fragments/footer">

</footer>
</html>